/elpa
/backups
/auto-save-list
/history
/recentf
projectile-bookmarks.eld
projectile.cache
/request
/semanticdb/**
/server
\#*
.\#*
/ede-projects.el
/.mc-lists.el
/.places
/ido.last
/bookmarks
/irony
/url
